
<table border="1">
  <tr>
    <th>Task ID</th>
    <th>State</th>
    <th>Timestamp</th>
    <th>Description</th>
    <th>Result</th>
    <th>User</th>
  </tr>
  <% tasks.each do |task| %>
      <tr>
        <td><a href="/task/<%= task['id'].to_s %>"><%= task["id"] %></a> </td>
        <td><%= task['state'] %></td>
        <td><%= task["timestamp"] %></td>
        <td><%= task["description"] %></td>
        <td><%= task["result"] %></td>
        <td><%= task["user"] %></td>
      </tr>
  <% end%>
      </table>
