<div class="tables">
  <% products.each do |product| %>
      <div class="products_tile">
        <span class="product_label"><%= product[:label] %></span>
        <span class="product_type"><%= product[:type] %></span>
        <span class="product_description"><%= product[:description] %></span>

        <% product[:versions].each do |version| %>
            <div class="versions_tile">
              <span class="version_version"><%= version[:version] %></span>
              <span class="version_type"><%= version[:type] %></span>
              <span class="version_description"><%= version[:description] %></span>


              <form action="/delete_versions" method="post">
                <input type="hidden" value="<%= product[:name] %>" name="product" />
                <input type="hidden" value="<%= version[:version] %>" name="version" />
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
              </form>
            </div>
        <% end %>

        <form action="/delete_products" method="post">
          <input type="hidden" value="<%= product[:name] %>" name="product" />
          <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </form>

        <form action="/delete_products" method="post">
          <input type="hidden" value="<%= product[:name] %>" name="product" />
          <input type="hidden" value="<%= true %>" name="with_dependencies" />
          <input type="submit" value="Delete with dependencies" onclick="return confirm('Are you sure?');" />
        </form>

      </div>
  <% end %>
</div>
