    <table class="settings_table">
        <tr class="settings_table_header">
          <td>Name</td>
          <td>Status</td>
          <td>Services</td>
          <td>Frameworks</td>
        </tr>
      <% clouds.each do |cloud| %>
        <tr>
          <td><a href="/clouds/configure/<%= cloud[:name] %>"><%= cloud[:name] %></a></td>
          <td><%= cloud[:status] %></td>
          <td><%= cloud[:services] %></td>
          <td><%= cloud[:frameworks] %></td>
        </tr>
      <% end %>
    </table>

    <div class="bottom_buttons_div">
      <form action="/clouds" method="post">
        <input name="create_cloud_name" type="text" id="create_cloud_name" />
        <input name="btn_parameter" type="submit" value="Create Cloud" id="create_cloud" class="create" />
      </form>
    </div>
