<div class="simple_page_content_div">
  <div class="content_with_form_header">
    <form action="/products/<%= product_name %>" method="post" id="create_cloud_form">
      <fieldset>
        <legend>Create a new cloud configuration</legend>
        <div>
          <label for="create_cloud_name">Cloud Name</label>
          <input name="create_cloud_name" type="text" id="create_cloud_name" />
          <input name="btn_create_cloud" type="submit" value="Create Cloud" id="create_cloud" class="create" />
          <span class="error"><%= error_message %></span>
        </div>
      </fieldset>
    </form>
  </div>

  <table class="settings_table clouds">
    <tr class="settings_table_header">
      <td>Cloud</td>
      <td>Status</td>
      <td>Resources</td>
    </tr>
    <% clouds.each do |cloud| %>
        <tr>
          <td class="cell_border cell_border_bottom bold"><a onclick="showPageLoading()" href="/products/<%= product_name %>/<%= cloud['name'] %>"><%= cloud['name'] %></a></td>
          <td class="cloud_state <%= cloud['state'].to_s().downcase.gsub(' ', '_') %>"><%= cloud['state'] %></td>
          <td class="cell_border cell_border_bottom ">
            <% if cloud['resources'] != nil %>
                <%= cloud['resources']['total_cpu'] %> Virtual Cores<br />
                <%= (cloud['resources']['total_RAM'] / 1024.0).round(2) %> GB of RAM<br />
                <%= (cloud['resources']['total_disk'] / 1024.0).round(2) %> GB of Storage<br />
            <% else %>
                <img src="/icons/none.png" alt="No services available">
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>