   <table>
<% form_generator.generate_form(form, screen_name, form_data).each do |html_field| %>

    <tr>
      <td>
        <label for="<%= html_field[:input_name] %>">
          <%= html_field[:name] + ":" %>
        </label>
      </td>

      <td>
        <input name="<%= html_field[:input_name] %>"
               type="<%= html_field[:type] %>"
               class="<%= html_field[:class] %> local"
               id="<%= html_field[:id] %>"
               value="<%= html_field[:value] %>" />
      </td>

      <td>
        <input type="<%= html_field[:type] %>"
               value="<%= html_field[:value_live] %>"
               class="<%= html_field[:class] %> disabled" disabled="" />
      </td>

      <td>
        <span class="field_error"><%= html_field[:error] %></span>
      </td>

    </tr>

<% end %>
   </table>