<form method="post" action="/infrastructure">

    <div class="tab_divs" id="cpi_div">
        <table class="settings_table">
          <tr class="settings_table_header">
            <td>Description</td>
            <td>Local value</td>
            <td>Live value</td>
            <td>Error</td>
          </tr>
          <% form_generator.generate_form(form, table[:cpi], form_data).each do |html_field| %>
              <tr>
                <td>
                  <label for="<%= html_field[:input_name] %>">
                    <%= html_field[:name] + ":" %>
                  </label>
                </td>

                <td>
                  <input name="<%= html_field[:input_name] %>"
                         type="<%= html_field[:type] %>"
                         class="<%= html_field[:class] %> local"
                         id="<%= html_field[:id] %>"
                         value="<%= html_field[:value] %>" />
                </td>

                <td>
                  <input type="<%= html_field[:type] %>"
                         value="<%= html_field[:value_live] %>"
                         class="<%= html_field[:class] %> disabled" disabled="" />
                </td>

                <td>
                  <% if html_field[:error] %>
                    <span class="field_error"><%= html_field[:error] %></span>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
    </div>

    <!--DIV FROM SAME CLASS THE ONE ABOVE-->

    <div class="bottom_buttons_div">
        <!--<input name="btn_test" type="submit" value="Test" id="test_networking_btn" class="test" />-->
        <input name="btn_update" type="submit" value="Update" id="update_networking_btn" class="update" />
    </div>

</form>



