<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
  <title>Uhuru Cloud Commander</title>
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/views.css" type="text/css" />
  <meta charset="utf-8" />
  <script type="text/javascript" src="/scripts/jquery-1.5.js"></script>
  <script type="text/javascript" src="/scripts/jquery_ui.js"></script>
  <script type="text/javascript" src="/scripts/cloud_tabs.js" ></script>
  <script type="text/javascript" src="/scripts/bosh_display.js" ></script>
  <script type="text/javascript" src="/scripts/query_strings.js" ></script>
</head>

<body>
<div id="black_screen"></div>
<div id="wrapper">

  <div id="header" class="header">
    <h1>Uhuru Cloud Commander</h1>
    <div class="header_user">
      Logged in as: <%= session['user_name'] %>
    </div>
  </div>

  <div id="main_menu">
    <ul class="main_menu">
      <li><a onclick="showPageLoading()" class="<%= request.path_info.to_s.start_with?('/infrastructure') ? 'selected' : ''  %>" href="/infrastructure">Infrastructure</a></li>
      <% unless first_run? || updating_infrastructure? %>
          <li><a onclick="showPageLoading()" class="<%= request.path_info.start_with?('/clouds') ? 'selected' : ''  %>" href="/clouds">App Clouds</a></li>
          <li><a onclick="showPageLoading()" class="<%= request.path_info.start_with?('/users') ? 'selected' : ''  %>" href="/users">Users</a></li>
          <li><a onclick="showPageLoading()" class="<%= request.path_info.start_with?('/tasks') ? 'selected' : ''  %>" href="/tasks/30/false">Tasks</a></li>
      <% end %>
      <li class="right"><a onclick="check_services()" href="#">Logout</a></li>
      <li class="right"><a onclick="showPageLoading()" href="/internal_logs">Internal Logs</a></li>
      <% unless first_run? || updating_infrastructure? %>
        <li class="right"><a onclick="showPageLoading()" href="/nagios/">Monitoring</a></li>
      <% end %>
    </ul>
  </div>

  <div class="actual_body">
    <div class="actual_body_header">
        <div id="page_loading" class="page_loading hidden">
          <span>Loading ...</span>
          <img src="/images/page_loading.gif"/>
        </div>
    </div>

    <div id="help_div" class="help_div">
      <% if defined? help %>
          <div class="help_header">Help</div>
          <% help.each do |title, description, relation| %>
              <% if relation %>
                  <label class="hidden" for="<%= relation %>">
                    <p><h4><%= title %></h4></p>
                    <p>
                      <%= description %>
                    </p>
                  </label>
              <% else %>
                  <p><h4><%= title %></h4></p>
                  <p>
                    <%= description %>
                  </p>
              <% end %>
          <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>
  <div class="actual_body_footer">
    Copyright &copy; 2013 Uhuru Software, Inc., All Rights Reserved
  </div>
</div>
</body>
</html>