<div class="versions_div">
  <% [Uhuru::BoshCommander::Versioning::Product::TYPE_UCC, Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL, Uhuru::BoshCommander::Versioning::Product::TYPE_SOFTWARE].each do |type| %>
      <% products.each do |product_name, product| %>
          <% if product.type == type %>

              <span class="table_title"><%= product.label %></span>

              <table class="versions_table">
                <thead>
                <tr class="settings_table_header">
                  <td class="td_versions">Version</td>
                  <td class="td_descriptions">Description</td>
                  <td class="td_state">State</td>
                  <td class="td_actions">Actions</td>
                </tr>
                </thead>

                <tbody>
                <% product.versions.each do |version_number, version| %>
                    <tr>
                      <!-- VERSION -->
                      <td class="td_versions">
                        <%= version.version %>
                      </td>

                      <!-- DESCRIPTION -->
                      <td class="td_descriptions">
                        <%= version.description %>
                      </td>

                      <% Uhuru::BoshCommander::CommanderBoshRunner.execute(session) do %>

                          <!-- STATE -->

                          <%

                             version_state = version.get_state(stemcells, releases, deployments)
                             state_class = case version_state
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL then 'local'
                                             when Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY then 'remote_only'
                                             when Uhuru::BoshCommander::Versioning::STATE_AVAILABLE then 'available'
                                             when Uhuru::BoshCommander::Versioning::STATE_DEPLOYED then 'deployed'
                                             when Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING then 'downloading'
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL_PREPARING then 'local_preparing'
                             end

                             state_label = case version_state
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL then 'Local'
                                             when Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY then 'Remote Only'
                                             when Uhuru::BoshCommander::Versioning::STATE_AVAILABLE then 'Available for Deployment'
                                             when Uhuru::BoshCommander::Versioning::STATE_DEPLOYED then 'Deployed'
                                             when Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING then 'Downloading ...'
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL_PREPARING then 'Preparing ...'
                                           end

                          %>

                          <td class="td_state states <%= version_state.to_s %>">
                            <div id="<%= version.version.to_s %>">
                                <div class="<%= state_class %>"><%= state_label %></div>
                            </div>
                          </td>

                          <!-- ACTION -->

                          <td class="td_actions">
                            <% if version_state != Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING %>

                                <div class="action_buttons parent info" onmouseover="jQuery('div', this).show()" onmouseout="jQuery('div', this).hide()">
                                  <div class="info_box">
                                    <b>Size:</b> <%= pretty_size(version.size) %>
                                    <br/><hr/><br/>
                                    <b>Dependencies:</b> <%= version.dependencies.map {|d| "#{d['dependency']} (#{d['version'].join(', ')})" }.join('; ')  %>
                                    <br/><hr/><br/>
                                    <b>Deployments:</b> <%= version.deployments || 'None' %>
                                    <br/><hr/><br/>
                                  </div>
                                </div>

                                <div class="action_buttons parent actions" onclick="
                                    $('.actions_menu').not($(this).find('ul')).addClass('hidden');
                                    $('.action_buttons.parent.actions').not($(this)).removeClass('clicked');

                                    if ($(this).find('ul').hasClass('hidden'))
                                    {
                                        $(this).find('ul').removeClass('hidden');
                                        $(this).addClass('clicked');
                                    }
                                    else
                                    {
                                        $(this).find('ul').addClass('hidden');
                                        $(this).removeClass('clicked');
                                    }

                                ">
                                  <ul class="actions_menu hidden">
                                    <li>
                                      <% if version_state == Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY %>
                                          <form method="post" action="/download">
                                            <input type="hidden" value="<%= product.name.to_s %>" name="product" />
                                            <input type="hidden" value="<%= version.version.to_s %>" name="version" />

                                            <input type="submit" value="Download" class="action_buttons download" title="Download <%= product.label %>&nbsp;<%= version.version %>" />
                                          </form>
                                      <% else %>
                                          <input type="button" value="Download" class="action_buttons download_disabled" title="This version was already downloaded!" />
                                      <% end %>
                                    </li>
                                    <li>
                                      <% if version_state == Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY %>
                                          <form method="post" action="/download_with_dependencies">
                                            <input type="hidden" value="<%= product.name.to_s %>" name="product" />
                                            <input type="hidden" value="<%= version.version.to_s %>" name="version" />

                                            <input type="submit" value="Download with dependencies" class="action_buttons download_dependencies" title="Download <%= product.label %>&nbsp;<%= version.version %> with all the dependencies" />
                                          </form>
                                      <% else %>
                                          <input type="button" value="Download with dependencies" class="action_buttons download_dependencies_disabled" title="This version was already downloaded!" />
                                      <% end %>
                                    </li>
                                    <li>
                                      <% if version_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>

                                          <% form_action = product.type == Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL ? '/upload_stemcell' : '/upload_software' %>

                                          <form method="post" action="<%= form_action %>">
                                            <input type="hidden" value="<%= product.name.to_s %>" name="name" />
                                            <input type="hidden" value="<%= version.version.to_s %>" name="version" />
                                            <input type="submit" value="Activate for deployment" class="action_buttons upload" title="Upload <%= product.label %>&nbsp;<%= version.version %>" />
                                          </form>
                                      <% else %>
                                          <input type="button" value="Activate for deployment" class="action_buttons upload_disabled" title="This version was not found locally and it can't be uploaded!" />
                                      <% end %>
                                    </li>
                                    <li>
                                      <% if version_state == Uhuru::BoshCommander::Versioning::STATE_AVAILABLE %>

                                          <% form_action = product.type == Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL ? '/delete_stemcell_from_bosh' : '/delete_software_from_bosh' %>

                                          <form method="post" action="<%= form_action %>">
                                            <input type="hidden" value="<%= product.name.to_s %>" name="name" />
                                            <input type="hidden" value="<%= version.version.to_s %>" name="version" />
                                            <input type="submit" value="Deactivate" class="action_buttons delete" title="Delete from bosh <%= product.label %>&nbsp;<%= version.version.downcase %>" />
                                          </form>
                                      <% else %>
                                          <input type="button" value="Deactivate" class="action_buttons delete_disabled" title="This version was not found on bosh!" />
                                      <% end %>
                                    </li>
                                    <li>
                                      <% if version_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>
                                          <% form_action = product.type == Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL ? '/delete_stemcell_local' : '/delete_software_local' %>
                                          <form method="post" action="<%= form_action %>">
                                            <input type="hidden" value="<%= product.name.to_s %>" name="name" />
                                            <input type="hidden" value="<%= version.version.to_s %>" name="version" />
                                            <input type="submit" value="Remove" class="action_buttons trash" title="Delete local version: <%= product.label %>&nbsp;<%= version.version.downcase %>" />
                                          </form>
                                      <% else %>
                                          <input type="button" value="Remove" class="action_buttons trash_disabled" title="This version was not found locally!" />
                                      <% end %>
                                    </li>
                                  </ul>
                                </div>
                            <% end %>

                            <%
                               hide_progress = version_state == Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING ? '' : 'hidden'
                            %>

                            <span id="message_progressbar_<%= "#{product_name}_#{version_number}" %>" class="progress_message <%= hide_progress %>" >Refreshing ...</span>

                            <progress id="progressbar_<%= "#{product_name}_#{version_number}" %>" class="progress_bars <%= hide_progress %>" value="0" max="100">
                            </progress>

                          </td>
                      <% end %>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
      <% end %>
  <% end %>
</div>

<% if products.any? { |_, product| product.versions.any? { |_, version| version.get_state(stemcells, releases, deployments) == Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING } } %>
    <script type="text/javascript" src="/scripts/versioning_actions.js" ></script>
<% end %>