<div class="versions_div">
  <% [Uhuru::BoshCommander::Versioning::Product::TYPE_UCC, Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL, Uhuru::BoshCommander::Versioning::Product::TYPE_SOFTWARE].each do |type| %>
      <% products.each do |product| %>
          <% if product[1].type == type %>
              <span class="table_title"><%= product[1].label %></span>

              <table class="versions_table">
                <thead>
                <tr class="settings_table_header">
                  <td class="td_versions">Version</td>
                  <td class="td_descriptions">Description</td>
                  <td class="td_state">State</td>
                  <td class="td_size">Size</td>
                  <td class="td_dependencies">Dependencies</td>
                  <td class="td_deployments">Deployments</td>
                  <td class="td_actions">Actions</td>
                </tr>
                </thead>

                <tbody>
                <% product[1].versions.each do |version| %>
                    <tr>
                      <!-- VERSION -->
                      <td class="td_versions">
                        <%= version[1].version %>
                      </td>

                      <!-- DESCRIPTION -->
                      <td class="td_descriptions">
                        <%= version[1].description %>
                      </td>

                      <% Uhuru::BoshCommander::CommanderBoshRunner.execute(session) do %>

                          <!-- STATE -->
                          <td class="td_state states">
                            <div class="<%= product[1].name.to_s %>" id="<%= version[1].version.to_s %>">
                                <% if version[1].get_state.to_s == '1' %>
                                    Remote Only
                                <% elsif version[1].get_state.to_s == '2' %>
                                    Downloading
                                <% elsif version[1].get_state.to_s == '3' %>
                                    Local
                                <% elsif version[1].get_state.to_s == '4' %>
                                    Local Preparing
                                <% elsif version[1].get_state.to_s == '5' %>
                                    Available
                                <% elsif version[1].get_state.to_s == '6' %>
                                    Deployed
                                <% else %>
                                    Error
                                <% end %>
                            </div>
                          </td>

                          <!-- SIZE -->
                          <td class="td_size">
                            <%= version[1].location.size %>
                          </td>

                          <!-- DEPLOYMENTS -->
                          <td class="td_deployments">
                            <%= version[1].deployments %>
                          </td>

                          <!-- DEPENDENCIES -->
                          <td class="td_dependencies">
                            <% [Uhuru::BoshCommander::Versioning::Product::TYPE_UCC, Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL, Uhuru::BoshCommander::Versioning::Product::TYPE_SOFTWARE].each do |type| %>
                                <% if product[1].type == type %>
                                    <% version[1].dependencies.each do |dependency| %>
                                        <%= dependency['dependency'] %>
                                        (
                                        <% if dependency['version'].count != nil %>
                                            <% dependency['version'].each_with_index do |version, index| %>
                                                <% if index < dependency['version'].length - 1 %>
                                                    <%= version + ', ' %>
                                                <% else %>
                                                    <%= version %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                        )
                                        <br />
                                    <% end %>
                                <% end %>
                            <% end %>
                          </td>

                          <!-- ACTION -->
                          <td class="td_actions">
                            <% if version[1].get_state.to_s == '5' %>
                                <img src="../images/delete.png" alt="delete" class="action_buttons" title="Delete <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                            <% end %>

                            <% if version[1].get_state.to_s != '1' %>
                                <img src="../images/download.png" alt="download" class="action_buttons" title="Download <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                            <% end %>
                          </td>
                      <% end %>

                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
      <% end %>
  <% end %>
</div>

<script type="text/javascript">
    var auto_refresh = setInterval(
            function(){
                $('.states div:first-child').each(function(item, object){
                    $.post('/versions/read_states',
                        { product: object.classList[0], version: object.id },
                        function(data){
                            object.innerHTML = '';
                            object.innerHTML = data;
                    });
                });

            }, 3000
    );
</script>
