<div class="versions_div">
  <% counter = 0 %>
  <% [Uhuru::BoshCommander::Versioning::Product::TYPE_UCC, Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL, Uhuru::BoshCommander::Versioning::Product::TYPE_SOFTWARE].each do |type| %>
      <% products.each do |product| %>
          <% if product[1].type == type %>

              <span class="table_title"><%= product[1].label %></span>

              <table class="versions_table">
                <thead>
                <tr class="settings_table_header">
                  <td class="td_versions">Version</td>
                  <td class="td_descriptions">Description</td>
                  <td class="td_state">State</td>
                  <td class="td_actions">Actions</td>
                </tr>
                </thead>

                <tbody>
                <% product[1].versions.each do |version| %>
                    <tr>
                      <!-- VERSION -->
                      <td class="td_versions">
                        <%= version[1].version %>
                      </td>

                      <!-- DESCRIPTION -->
                      <td class="td_descriptions">
                        <%= version[1].description %>
                      </td>

                      <% Uhuru::BoshCommander::CommanderBoshRunner.execute(session) do %>

                          <!-- STATE -->

                          <%
                             state_class = case version[1].get_state
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL then 'local'
                                             when Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY then 'remote_only'
                                             when Uhuru::BoshCommander::Versioning::STATE_AVAILABLE then 'available'
                                             when Uhuru::BoshCommander::Versioning::STATE_DEPLOYED then 'deployed'
                                             when Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING then 'downloading'
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL_PREPARING then 'local_preparing'
                             end

                             state_label = case version[1].get_state
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL then 'Local'
                                             when Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY then 'Remote Only'
                                             when Uhuru::BoshCommander::Versioning::STATE_AVAILABLE then 'Available for Deployment'
                                             when Uhuru::BoshCommander::Versioning::STATE_DEPLOYED then 'Deployed'
                                             when Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING then 'Downloading ...'
                                             when Uhuru::BoshCommander::Versioning::STATE_LOCAL_PREPARING then 'Preparing ...'
                                           end

                          %>

                          <td class="td_state states <%= version[1].get_state.to_s %>">
                            <div id="<%= version[1].version.to_s %>">
                                <div class="<%= state_class %>"><%= state_label %></div>
                            </div>
                          </td>

                          <!-- ACTION -->

                          <td class="td_actions">

                            <% if version[1].get_state != Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING %>

                                <% if product[1].type == Uhuru::BoshCommander::Versioning::Product::TYPE_STEMCELL %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_AVAILABLE %>
                                        <form method="post" action="/delete_stemcell_from_bosh">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons delete" title="Delete <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                                        </form>
                                    <% end %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>
                                        <form method="post" action="/delete_stemcell_local">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons delete" title="Delete <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                                        </form>
                                    <% end %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>
                                        <form method="post" action="/upload_stemcell">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons upload" title="Upload <%= product[1].label %>&nbsp;<%= version[1].version %>" />
                                        </form>
                                    <% end %>
                                <% end %>

                                <% if product[1].type == Uhuru::BoshCommander::Versioning::Product::TYPE_SOFTWARE %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_AVAILABLE %>
                                        <form method="post" action="/delete_software_from_bosh">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons delete" title="Delete <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                                        </form>
                                    <% end %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>
                                        <form method="post" action="/delete_software_local">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons delete" title="Delete <%= product[1].label %>&nbsp;<%= version[1].version.downcase %>" />
                                        </form>
                                    <% end %>
                                    <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_LOCAL %>
                                        <form method="post" action="/upload_software">
                                          <input type="hidden" value="<%= product[1].name.to_s %>" name="name" />
                                          <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />
                                          <input type="submit" value="" class="action_buttons upload" title="Upload <%= product[1].label %>&nbsp;<%= version[1].version %>" />
                                        </form>
                                    <% end %>
                                <% end %>


                                <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_REMOTE_ONLY %>
                                    <form method="post" action="/download">
                                      <input type="hidden" value="<%= product[1].name.to_s %>" name="product" />
                                      <input type="hidden" value="<%= version[1].version.to_s %>" name="version" />

                                      <input type="submit" value="" class="action_buttons download" title="Download <%= product[1].label %>&nbsp;<%= version[1].version %>" />
                                    </form>
                                <% end %>

                                <div class="action_buttons info" onmouseover="jQuery('div', this).show()" onmouseout="jQuery('div', this).hide()">
                                  <div class="info_box">
                                    <b>Size:</b> <%= pretty_size(version[1].size) %>
                                    <br/><hr/><br/>
                                    <b>Dependencies:</b> <%= version[1].dependencies.map {|d| "#{d['dependency']} (#{d['version'].join(', ')})" }.join('; ')  %>
                                    <br/><hr/><br/>
                                    <b>Deployments:</b> <%= version[1].deployments || 'None' %>
                                    <br/><hr/><br/>
                                  </div>
                                </div>

                            <% end %>

                            <span id="message_progressbar_<%= counter %>" class="progress_message" ></span>
                            <% if version[1].get_state == Uhuru::BoshCommander::Versioning::STATE_DOWNLOADING %>
                                <progress id="progressbar_<%= counter %>" class="progress_bars <%= product[1].name.to_s %> <%= version[1].version.to_s %>" value="0" max="100">
                                </progress>
                            <% end %>
                            <% counter += 1 %>

                          </td>
                      <% end %>

                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
      <% end %>
  <% end %>
</div>