<%
   js_splitter = "','"
   sub_menu_ids = "['#{form.screens.map {|screen| screen.id}.join js_splitter}']"
%>

<ul class="cloud_menu" xmlns="http://www.w3.org/1999/html">

  <% @cloud_menu.each do |tab, name| %>
      <li><a href="#" onclick="switchCloudMenu(<%= "['#{@cloud_menu.keys.join js_splitter}']" %>, '<%= tab %>');" id="cloud_<%= tab %>" ><%= name %></a></li>
  <% end %>
</ul>

<div class='cloud_title'>
  You are working with cloud <strong>'<%= cloud_name %>'</strong>.
</div>

<div class="simple_page_content_div">
<div class="hidden" id="cloud_tab_manage_div">

  <div class="left_cloud_menu">
    <ul class="cloud_menu sub_menu" id="manage_sublist">
      <% form.screens.each do |screen| %>

          <li>
            <a href="#" onclick="switchCloudMenu(<%= sub_menu_ids %>, '<%= screen.id %>');" id="cloud_<%= screen.id %>" <%= screen.has_errors? ? 'class="error"' : '' %>>
              <%= screen.name %>
            </a>
          </li>

      <% end %>
    </ul>
  </div>

  <div class="cloud_configuration_form">
    <form id="cloud_config_form" name="cloud_config_form" enctype="multipart/form-data" method="post" action="/products/<%= product_name %>/<%= cloud_name %>" onsubmit="return confirmForm()">
      <label style="font-weight:bold; position:relative; top:-40px; left:430px;">
        Version:
      </label>

      <select style="font-weight:bold; position:relative; top:-40px; left:430px;"
              name="select_version"
              type="text"
              id="select_version"
              onchange="ChangeVersion(this.value)"
      >
        <% versions.each do |value| %>
            <option <%= value == current_version ? 'selected' : '' %> value="<%= value %>"><%= value %></option>
        <% end %>
      </select>
      <% form.screens.each do |screen| %>

          <div id="cloud_<%= screen.id %>_div" class="hidden">
            <div>
              <table class="settings_table">
                <tr class="settings_table_header">
                  <td>Description</td>
                  <td>Local value</td>
                  <td>Live value</td>
                </tr>

                <% screen.fields.each do |field| %>
                    <%= erb(:config_row, :layout => false, :locals => {:field => field, :value_type => value_type}) %>
                <% end %>
              </table>
            </div>
          </div>

      <% end %>

      <div class="bottom_buttons_div">
        <input onclick="showPageLoading()"
               name="btn_save"
               type="submit"
               value="Save"
               id="save_cloud_compilation-btn"
               class="save" />

        <input onclick="setConfirm('Are you sure you want to save and deploy the new configuration?')"
               name="btn_save_and_deploy"
               type="submit"
               value="Save & Deploy"
               id="saveanddeploy_cloud_compilation_btn"
               class="save_and_deploy" />

        <input onclick="setConfirm('Are you sure you want to tear down the cloud?')"
               name="btn_tear_down"
               type="submit"
               value="Tear Down"
               class="tear_down" />

        <input onclick="setConfirm('Are you sure you want to tear down and delete the cloud? Note that the configuration will be deleted after tear down is complete.')"
               name="btn_delete"
               type="submit"
               value="Delete"
               class="delete" />

        <input name="btn_export"
               type="submit"
               value="Export"
               class="export" />

        <input name="btn_import"
               type="button"
               value="Import"
               class="import"
               onclick="importSettings(); showPageLoading();" />

        <input type="file"
               name="file_input"
               id="file_upload_field"
               class="file_upload_field" />
      </div>
    </form>
  </div>
</div>

<div class="hidden" id="cloud_tab_virtual_machines_div">
  <div>
    <div id="div_loading_vms_message">
      <img src="/images/loading.gif" alt="Loading... Please wait." />
      <div>
          <span>
            Loading VM list...<br />
            Please wait.
          </span>
      </div>
    </div>

    <table id="vm_list" class="virtual_machines_table hidden">
      <tr class="settings_table_header">
        <td>Name</td>
        <td>#</td>
        <td>State</td>
        <td>IPs</td>
        <td>Agent Id</td>
        <td>SSH and Logs</td>
        <td>VM Management</td>
      </tr>
    </table>

    <script type="text/javascript">
        function createCell(row, index)
        {
            var cell = row.insertCell(index);
            cell.className = "cell_border cell_border_bottom";
            return cell;
        }

        var divLoadingMessage = document.getElementById("div_loading_vms_message");
        var tableVMList = document.getElementById("vm_list");

        $.ajax(
                {
                    url: '/products/<%= product_name %>/<%= cloud_name %>/vms',
                    dataType: 'json',
                    cache: false,
                    timeout: 300000,
                    error: function(data)
                    {
                        document.getElementById("div_loading_vms_message").innerHTML = "Could not load VM list. Please check Monitoring to see if everything is online."
                    },
                    success: function(data)
                    {
                        var items = [];

                        $.each(data, function(vm_index, vm) {
                            var rowCount = tableVMList.rows.length;
                            var newRow = tableVMList.insertRow(rowCount);

                            var cellJobName = createCell(newRow, 0);
                            var cellJobIndex = createCell(newRow, 1);
                            var cellJobState = createCell(newRow, 2);
                            var cellIPs = createCell(newRow, 3);
                            var cellAgentId = createCell(newRow, 4);
                            var cellSSHAndLogs = createCell(newRow, 5);
                            var cellVMManagement = createCell(newRow, 6)

                            var divAgentId = document.createElement("div");
                            var divJobName = document.createElement("div");
                            var divJobIndex = document.createElement("div");
                            var divJobState = document.createElement("div");
                            var divIPs = document.createElement("div");
                            var divSSHAndLogs = document.createElement("div");
                            var divVMManagement = document.createElement("div");

                            divAgentId.innerHTML = vm["agent_id"];

                            divJobName.innerHTML = vm["job_name"];
                            divJobName.className = "bold";

                            divJobIndex.innerHTML = vm["index"];
                            divJobIndex.className = "bold";

                            divJobState.innerHTML = vm["job_state"];
                            cellJobState.className = "job_state " + vm["job_state"].toLowerCase().replace(/\s/g, '_');

                            $.each(vm["ips"], function(ip_index, ip) {
                                divIPs.innerHTML += ip + "<br/>";
                            });

                            var sshUrl = "/ssh_connect/<%= cloud_name %>/" + vm["job_name"] + "/" + vm["index"]
                            var logUrl = "/vmlog/<%= cloud_name %>/" + vm["job_name"] + "/" + vm["index"]
                            var jobIndexUrl = "/<%= cloud_name %>/" + vm["job_name"] + "/" + vm["index"]
                            divSSHAndLogs.innerHTML =
                                    "<a onClick=\"window.open('" + sshUrl + "','_blank','width=800,height=600,resizable=yes')\" href='#'>SSH</a>&nbsp;" +
                                            "<a href='" + logUrl +"'>Logs</a>"
                            divVMManagement.innerHTML = "<a href='/vm/start" + jobIndexUrl +  "'>Start</a>&nbsp;"+
                                    "<a href='/vm/stop" + jobIndexUrl +  "'>Stop</a>&nbsp;"+
                                    "<a href='/vm/restart" + jobIndexUrl +  "'>Restart</a>&nbsp;" +
                                    "<a href='/vm/recreate" + jobIndexUrl +  "'>Recreate</a>&nbsp;";

                            cellSSHAndLogs.className += " border_right"

                            cellAgentId.appendChild(divAgentId);
                            cellJobName.appendChild(divJobName);
                            cellJobIndex.appendChild(divJobIndex);
                            cellJobState.appendChild(divJobState);
                            cellIPs.appendChild(divIPs);
                            cellSSHAndLogs.appendChild(divSSHAndLogs);
                            cellVMManagement.appendChild(divVMManagement);


                        });
                        $("#vm_list").show();
                        $("#div_loading_vms_message").hide();
                    }
                });
    </script>

  </div>
</div>

<div class="cloud_summary hidden" id="cloud_tab_summary_div">

  <% if !summary["router_ips"].nil? %>
      <h2>Deployment Entry Point</h2>
      <h3>The Cloud's Routers: <span class="highlight bold"><%= summary["router_ips"].join(', ') %></span></h3>
      <hr />
  <%end%>

  <% if !summary["resources"].nil? %>
      <h2>Resources Used</h2>
      <h3>Virtual CPUs: <span class="highlight bold"><%= summary["resources"]["total_cpu"] %></span></h3>
      <h3>Memory: <span class="highlight bold"><%= (summary["resources"]["total_RAM"] / 1024.0).round(2) %> GB</span></h3>
      <h3>Storage: <span class="highlight bold"><%= (summary["resources"]["total_disk"] / 1024.0).round(2) %> GB</span></h3>
      <hr />
  <% end %>

  <h2>Useful URLs</h2>
  <h3>Cloud API Endpoint:
    <a class="highlight bold"
       target="_blank"
       href="<%= summary["api_url"].to_s.start_with?('http://') ? summary["api_url"] : 'http://' + summary["api_url"]  %>">
      <%= summary["api_url"] %>
    </a>
  </h3>
  <h3>Web Interface:
    <a class="highlight bold"
       target="_blank"
       href="<%= summary["web_ui_url"].to_s.start_with?('http://') ? summary["web_ui_url"] : 'http://' + summary["web_ui_url"]  %>">
      <%= summary["web_ui_url"] %>
    </a>
  </h3>
  <h3>Support URL:
    <a class="highlight bold"
       target="_blank"
       href="<%= summary["support_url"].to_s.start_with?('http://') ? summary["support_url"] : 'http://' + summary["support_url"]  %>">
      <%= summary["support_url"] %>
    </a>
  </h3>
  <h3>QoS Monitoring:
    <a class="highlight bold"
       target="_blank"
       href="<%= (summary["web_ui_url"].to_s.start_with?('http://') ? summary["web_ui_url"] : "http://#{summary['web_ui_url']}") %>/monitoring">
      <%= summary["web_ui_url"] %>/monitoring
    </a>
  </h3>
  <h3>Reports:
    <a class="highlight bold"
       target="_blank"
       href="<%= (summary["web_ui_url"].to_s.start_with?('http://') ? summary["web_ui_url"] : "http://#{summary['web_ui_url']}") %>/reports">
      <%= summary["web_ui_url"] %>/reports
    </a>
  </h3>
  <hr />

  <h2>E-mails</h2>
  <h3>Administrator's E-mail: <a class="highlight bold" href="mailto:<%= summary["admin_email"] %>"><%= summary["admin_email"] %></a></h3>
  <h3>Contact E-mail: <a class="highlight bold" href="mailto:<%= summary["contact_email"] %>"><%= summary["contact_email"] %></a></h3>
  <hr />

</div>
</div>
<script type="text/javascript">
    update_help_items();

    var default_menu = '<%= @default_cloud_menu.to_s %>';
    var default_sub_menu = '<%= @default_cloud_sub_menu.to_s %>';

    var qs_default_menu = getParameterByName('menu');
    var qs_default_sub_menu = getParameterByName('submenu');

    var first_error = '<%=
        first_error_screen = form.screens.find {|screen| screen.has_errors? }
        first_error_screen != nil ? first_error_screen.id : '' %>'


    qs_default_menu = qs_default_menu == '' ? default_menu : qs_default_menu;
    qs_default_sub_menu = qs_default_sub_menu == '' ? (first_error == '' ? default_sub_menu : first_error) : qs_default_sub_menu;

    switchCloudMenu(<%= "['#{@cloud_menu.keys.join js_splitter}']" %>, qs_default_menu);
    switchCloudMenu(<%= sub_menu_ids %>, qs_default_sub_menu);

    function ChangeVersion(version)
    {
        var action = document.cloud_config_form.action;
        document.cloud_config_form.action = action + "?version=" + version
        document.cloud_config_form.submit();
    }
</script>
